{% extends 'base.html.twig' %}

{% block menu %}
<aside class="text-center my-8 top-10% mt-4">
<h1><a href="{{path("showMyName")}}">HomePage</a></h1><br>
<h1><a href="{{path("learning")}}">About</a></h1>
</aside>

<div class="d-flex flex-column justify-content-center align-items-center py-3">
    {{ getQuote()|nl2br }}
</div>
{% endblock %}
